<a href="https://colab.research.google.com/github/Lfirenzeg/msds602labs/blob/main/LFMG_07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

Given the upcoming winter season 2024-2025, I wanted to review historical data of snowfall in New York city. The dataset used in this analysis contains snow precipitation recoded in LaGuardia airport, in NYC, covering multiple decades of snowfall data. It provides detailed information on the amount of snow recorded for each month (July through June) and the total snowfall for each season. The dataset's nature allows for a variety of data wrangling and analysis techniques, from handling missing data to creating new features.

**Source of the Data:**
The data is hosted on GitHub: [Snow Records Dataset](https://https://raw.githubusercontent.com/Lfirenzeg/msds602labs/refs/heads/main/Assignment_7/snow_records_ny.csv)

**Original source:** [National Weather Service](https://https://www.weather.gov/wrh/Climate?wfo=okx)
The dataset includes the following key columns:

**Year**: The winter season (e.g., "1939-1940").

**Monthly Columns**: Snowfall records for each month.

**Season**: Total snowfall recorded for the entire season.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [8]:
# Importing required libraries
import pandas as pd
import numpy as np

# Load the dataset directly from the given URL
url = 'https://raw.githubusercontent.com/Lfirenzeg/msds602labs/refs/heads/main/Assignment_7/snow_records_ny.csv'
snow_data = pd.read_csv(url)

# Initial exploration of the dataset
print("First exploration:")
print(snow_data.head(), "\n")
print("Summary Statistics:")
print(snow_data.describe())

First exploration:
        Year Jul Aug Sep Oct  Nov  Dec  Jan   Feb   Mar  Apr May Jun Season
0  1939-1940   M   M   M   M    M    M  3.9   8.3   1.5  1.2   0   0      M
1  1940-1941   0   0   0   0  1.5  0.9  9.5   2.5  15.6    0   0   0     30
2  1941-1942   0   0   0   0    0  0.1    3     T   0.5    0   0   0    3.6
3  1942-1943   0   0   0   0    T  2.6  6.4   1.7   4.7    T   0   0   15.4
4  1943-1944   0   0   0   0    T    T  5.5  10.1   4.6  3.8   0   0     24

Summary Statistics:
             Year Jul Aug Sep Oct Nov Dec  Jan Feb Mar Apr May Jun Season
count          85  85  85  85  85  85  85   85  85  85  85  85  85     85
unique         85   3   3   2   5  17  55   67  68  50  18   2   2     77
top     1939-1940   0   0   0   0   T   T  2.2   T   T   T   0   0   14.6
freq            1  80  83  84  73  37  11    4   7  15  33  78  83      2

In [1]:
#As we can see in the initial exploration, there are some issues that need to be addressed to clean the data:
# - All columns are currently read as object (likely because they contain non-numeric entries such as "M" or "T").
# - Placeholders such as "M" (for missing) and "T" (trace amounts of snow) need special handling.
#   "M" values will be replaced with Nan, and "T" values will be replaced with small ammount of snow (in this case we'll use 0.01)
#   Numeric columns will be convert to the appropriate type, except for year.

# Data Wrangling - SOLVED
Create a subset of your original data and perform the following.  

1. Modify multiple column names.
**Solution:**
The column names for months were changed from their three-letter abbreviations to their full names using the rename method.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.
**Solution**
Numeric columns were converted to appropriate types after replacing non-numeric placeholders ("M" and "T") with NaN and 0.01, respectively.

3. Fix missing and invalid values in data.
**Solution**
* Missing values represented by "M" were replaced with NaN.
* "T" (trace amounts) was replaced with 0.01.
* Any remaining missing values were filled with 0 for practical analysis

4. Create new columns based on existing columns or calculations.
**Solution**
A new column, Winter_Total, was created to calculate the total snowfall for the core winter months (December, January, February).

5. Drop column(s) from your dataset.
**Solution**
As an example, code to drop June is included (since  deemed unnecessary).

6. Drop a row(s) from your dataset.
**Solution**
Dropping rows where Total_Season snowfall is 0 (if not meaningful).

7. Sort your data based on multiple variables.
**Solution**
Sorting was applied based on Total_Season and Winter_Total in descending order.

8. Filter your data based on some condition.
**Solution**
Filtering was performed to include seasons with total snowfall over 50 inches.

9. Convert all the string values to upper or lower cases in one column.
**Solution**
In this assignment, all the columns are numeric values. However, if the Year column was written with letter instead, the code to change the entire column to uppercase would be:
snow_data_filled['Year'] = snow_data_filled['Year'].str.upper()

10. Check whether numeric values are present in a given column of your dataframe.
**Solution**
The code checks if numeric values are present in the Year column.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

**Solution**
Grouping by decades was done, with calculations for the mean, min, and max values.

12. Group your dataset by two columns and then sort the aggregated results within the groups.
**Solution**

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [14]:
# Cleaning data: replacing placeholders "M" (missing) with NaN and "T" (trace) with a small numerical value
snow_data_cleaned = snow_data.replace({"M": np.nan, "T": 0.01})

# Converting numeric columns (all except Year) to appropriate types
columns_to_convert = snow_data_cleaned.columns[1:]  # Exclude 'Year'
snow_data_cleaned[columns_to_convert] = snow_data_cleaned[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Renaming columns for clarity and consistency
snow_data_cleaned.rename(
    columns={
        "Jul": "July",
        "Aug": "August",
        "Sep": "September",
        "Oct": "October",
        "Nov": "November",
        "Dec": "December",
        "Jan": "January",
        "Feb": "February",
        "Mar": "March",
        "Apr": "April",
        "May": "May",
        "Jun": "June",
        "Season": "Total_Season"
    },
    inplace=True
)

# Handling missing values: filling with 0 for now (as snow records are often 0)
snow_data_filled = snow_data_cleaned.fillna(0)

# Creating a new column for total winter snowfall (December, January, February)
snow_data_filled['Winter_Total'] = (
    snow_data_filled['December'] +
    snow_data_filled['January'] +
    snow_data_filled['February']
)

# Dropping the 'June' column as an example (since it only has 0s)
snow_data_filled = snow_data_filled.drop(columns=['June'])

# Dropping rows where Total_Season is 0
snow_data_filled = snow_data_filled[snow_data_filled['Total_Season'] != 0]
# However right now this code is not removing rows, since the least ammount of
# snow recorded in a season was 1.9

# Sorting data by "Total_Season" and "Winter Total" in descending order
sorted_snow_data = snow_data_filled.sort_values(by=['Total_Season', 'Winter_Total'], ascending=[False, False])

# Filtering for seasons with total snowfall over 50 inches
filtered_snow_data = snow_data_filled[snow_data_filled['Total_Season'] > 50]

# Grouping by decades and calculating mean, min, and max snowfall
snow_data_filled['Decade'] = (snow_data_filled['Year'].str[:4].astype(int) // 10) * 10
decade_grouped = snow_data_filled.groupby('Decade')['Total_Season'].agg(['mean', 'min', 'max'])

# Checking for numeric values in the 'Year' column
numeric_check = snow_data_filled['Year'].str.isnumeric().any()

# Grouping by Decade and Winter_Total, then sorting
grouped_decade_winter = snow_data_filled.groupby(['Decade', 'Winter_Total']).agg({'Total_Season': ['mean', 'min', 'max']})
sorted_grouped_decade_winter = grouped_decade_winter.sort_values(by=[('Total_Season', 'mean')], ascending=False)

# Displaying the final results
print("Does the Year column contain numeric values?", numeric_check)
print("\nSnow Records Dataset with Renamed Columns and Filled Missing Values:")
print(snow_data_filled.head())
print("\nSnow Records Dataset Sorted by Total Season Snowfall:")
print(sorted_snow_data.head())
print("\nFiltered Snow Records Dataset (Total Season > 50 Inches):")
print(filtered_snow_data)
print("\nSnow Records Grouped by Decade:")
print(decade_grouped)
print("\nSnow Records Grouped by Decade and Winter Total, then sorted:")
print(sorted_grouped_decade_winter)

Does the Year column contain numeric values? False

Snow Records Dataset with Renamed Columns and Filled Missing Values:
        Year  July  August  September  October  November  December  January  \
1  1940-1941   0.0     0.0        0.0     0.00      1.50      0.90      9.5
2  1941-1942   0.0     0.0        0.0     0.00      0.00      0.10      3.0
3  1942-1943   0.0     0.0        0.0     0.00      0.01      2.60      6.4
4  1943-1944   0.0     0.0        0.0     0.00      0.01      0.01      5.5
5  1944-1945   0.0     0.0        0.0     0.01      0.01      7.10     14.3

   February  March  April  May  Total_Season  Winter_Total  Decade
1      2.50  15.60   0.00  0.0          30.0         12.90    1940
2      0.01   0.50   0.00  0.0           3.6          3.11    1940
3      1.70   4.70   0.01  0.0          15.4         10.70    1940
4     10.10   4.60   3.80  0.0          24.0         15.61    1940
5      9.20   0.01   0.01  0.0          30.6         30.60    1940

Snow Records Dataset Sorted by Total Season Snowfall:
         Year  July  August  September  October  November  December  January  \
56  1995-1996   0.0     0.0        0.0     0.00      2.40      17.7     27.6
8   1947-1948   0.0     0.0        0.0     0.00      0.01      26.2     18.3
54  1993-1994   0.0     0.0        0.0     0.00      0.00      10.4     13.0
21  1960-1961   0.0     0.0        0.0     0.01      0.00      15.3     15.5
75  2014-2015   0.0     0.0        0.0     0.00      0.40       1.3     19.7

    February  March  April   May  Total_Season  Winter_Total
56      18.5   11.5    0.2  0.00          77.9          63.8
8       14.9    4.2    0.0  0.00          63.6          59.4
54      25.6    9.5    0.0  0.00          58.5          49.0
21      21.3    3.8    0.6  0.01          56.5          52.1
75      15.1   17.3    0.0  0.00          53.8          36.1

Filtered Snow Records Dataset (Total Season > 50 Inches):
         Year  July  August  September  October  November  December  January  \
8   1947-1948   0.0     0.0        0.0     0.00      0.01      26.2     18.3
18  1957-1958   0.0     0.0        0.0     0.00      0.01      11.0      8.8
21  1960-1961   0.0     0.0        0.0     0.01      0.00      15.3     15.5
54  1993-1994   0.0     0.0        0.0     0.00      0.00      10.4     13.0
56  1995-1996   0.0     0.0        0.0     0.00      2.40      17.7     27.6
63  2002-2003   0.0     0.0        0.0     0.01      0.01      13.6      4.2
71  2010-2011   0.0     0.0        0.0     0.00      0.01      14.0     32.6
74  2013-2014   0.0     0.0        0.0     0.00      0.20       7.6     16.7
75  2014-2015   0.0     0.0        0.0     0.00      0.40       1.3     19.7

    February  March  April   May  Total_Season  Winter_Total
8       14.9    4.2   0.00  0.00          63.6          59.4
18      12.3   18.9   0.50  0.00          51.5          32.1
21      21.3    3.8   0.60  0.01          56.5          52.1
54      25.6    9.5   0.00  0.00          58.5          49.0
56      18.5   11.5   0.20  0.00          77.9          63.8
63      24.2    3.4   5.60  0.00          51.0          42.0
71       4.1    0.9   0.01  0.00          51.6          50.7
74      27.2    0.4   0.30  0.00          52.4          51.5
75      15.1   17.3   0.00  0.00          53.8          36.1

Snow Records Grouped by Decade:
          mean   min   max
Decade
1940    29.730   3.6  63.6
1950    22.970  11.3  51.5
1960    27.760  14.5  56.5
1970    18.900   1.9  43.5
1980    22.050  10.8  32.8
1990    26.440   7.1  77.9
2000    31.340   3.4  51.0
2010    31.570   4.6  53.8
2020    18.625   3.4  35.3

Snow Records Grouped by Decade and Winter Total, then sorted:
                    Total_Season
                            mean   min   max
Decade Winter_Total
1990   63.80                77.9  77.9  77.9
1940   59.40                63.6  63.6  63.6
1990   49.00                58.5  58.5  58.5
1960   52.10                56.5  56.5  56.5
2010   36.10                53.8  53.8  53.8
...                          ...   ...   ...
       4.61                  4.6   4.6   4.6
1940   3.11                  3.6   3.6   3.6
2000   3.31                  3.4   3.4   3.4
2020   3.31                  3.4   3.4   3.4
1970   1.91                  1.9   1.9   1.9

[84 rows x 3 columns]

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

**Trends:**

We find that there is significant variation in total seasonal snowfall across years, with some seasons experiencing over 70 inches of snow and others recording minimal snowfall.

The winter months (December, January, and February) consistently contribute the most snowfall, as expected.

**Variation by decades**

Grouping by decades reveals a trend of fluctuating average snowfall over time, suggesting changes in weather patterns or data recording practices. The decade with the most snowfall is 2010s, with a total snowfall of 315.7 inches.


**Further Exploration**

Possible paths for exploration could include looking into long-term snowfall trends to detect any statistically significant increases or decreases in snowfall over the decades, potentially indicating climate change effects.

With additional data, we could study correlations between snowfall and external factors like temperature, or rain precipitation.